.transaction {
  padding-top: 7rem;
}

.transaction-list {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
}

.transaction-card {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: space-between;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) inset;
}

.transaction-card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}

.date {
  font-size: 1.25rem;
  font-weight: var(--light);
}